build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/stm32G474_HELI.bin
build/stm32G474_HELI.elf
build/stm32G474_HELI.hex
build/stm32G474_HELI.map
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/3.22.1/CMakeASMCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/stm32G474_HELI.dir/ASM.includecache
build/CMakeFiles/stm32G474_HELI.dir/build.make
build/CMakeFiles/stm32G474_HELI.dir/cmake_clean.cmake
build/CMakeFiles/stm32G474_HELI.dir/compiler_depend.internal
build/CMakeFiles/stm32G474_HELI.dir/compiler_depend.make
build/CMakeFiles/stm32G474_HELI.dir/compiler_depend.ts
build/CMakeFiles/stm32G474_HELI.dir/depend.internal
build/CMakeFiles/stm32G474_HELI.dir/depend.make
build/CMakeFiles/stm32G474_HELI.dir/DependInfo.cmake
build/CMakeFiles/stm32G474_HELI.dir/flags.make
build/CMakeFiles/stm32G474_HELI.dir/link.txt
build/CMakeFiles/stm32G474_HELI.dir/progress.make
build/CMakeFiles/stm32G474_HELI.dir/startup_stm32g474xx.s.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/adc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/adc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/dma.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/dma.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/gpio.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/gpio.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/main.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/main.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/spi.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/spi.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/stm32g4xx_it.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/stm32g4xx_it.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/syscalls.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/syscalls.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/sysmem.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/sysmem.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/system_stm32g4xx.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/system_stm32g4xx.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/tim.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/tim.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_adc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_adc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dma.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dma.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_exti.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_exti.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_gpio.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_gpio.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_pwr.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_pwr.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_tim.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_tim.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_utils.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_utils.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Src/usbd_cdc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Src/usbd_cdc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/AS5047D.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/AS5047D.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/debug_scope.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/debug_scope.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/dshot.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/dshot.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/projectMain.cpp.obj
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/projectMain.cpp.obj.d
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usb_device.c.obj
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usb_device.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usbd_cdc_if.c.obj
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usbd_cdc_if.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usbd_desc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/App/usbd_desc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/Target/usbd_conf.c.obj
build/CMakeFiles/stm32G474_HELI.dir/USB_Device/Target/usbd_conf.c.obj.d
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/3.28.3/CMakeASMCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_adc_ex.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_adc_ex.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_adc.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_adc.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/cordic.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Core/Src/cordic.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj.d
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/mathutils.c.obj
build/CMakeFiles/stm32G474_HELI.dir/Project/Src/mathutils.c.obj.d
build/stm32G431_HELI.bin
build/stm32G431_HELI.elf
build/stm32G431_HELI.hex
build/stm32G431_HELI.map
build/CMakeFiles/stm32G431_HELI.dir/ASM.includecache
build/CMakeFiles/stm32G431_HELI.dir/build.make
build/CMakeFiles/stm32G431_HELI.dir/cmake_clean.cmake
build/CMakeFiles/stm32G431_HELI.dir/compiler_depend.internal
build/CMakeFiles/stm32G431_HELI.dir/compiler_depend.make
build/CMakeFiles/stm32G431_HELI.dir/compiler_depend.ts
build/CMakeFiles/stm32G431_HELI.dir/depend.internal
build/CMakeFiles/stm32G431_HELI.dir/depend.make
build/CMakeFiles/stm32G431_HELI.dir/DependInfo.cmake
build/CMakeFiles/stm32G431_HELI.dir/flags.make
build/CMakeFiles/stm32G431_HELI.dir/link.txt
build/CMakeFiles/stm32G431_HELI.dir/progress.make
build/CMakeFiles/stm32G431_HELI.dir/startup_stm32g431cbux.s.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/cordic.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/cordic.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/dma.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/dma.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/gpio.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/gpio.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/main.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/main.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/spi.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/spi.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/stm32g4xx_it.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/stm32g4xx_it.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/syscalls.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/syscalls.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/sysmem.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/sysmem.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/system_stm32g4xx.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/system_stm32g4xx.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/tim.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/tim.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/usb.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Core/Src/usb.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/AS5047D.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/AS5047D.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/debug_scope.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/debug_scope.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/dshot.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/dshot.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/mathutils.c.obj
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/mathutils.c.obj.d
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/projectMain.cpp.obj
build/CMakeFiles/stm32G431_HELI.dir/Project/Src/projectMain.cpp.obj.d
build/stm32G4_HELI.bin
build/stm32G4_HELI.elf
build/stm32G4_HELI.hex
build/stm32G4_HELI.map
build/CMakeFiles/stm32G4_HELI.dir/ASM.includecache
build/CMakeFiles/stm32G4_HELI.dir/build.make
build/CMakeFiles/stm32G4_HELI.dir/cmake_clean.cmake
build/CMakeFiles/stm32G4_HELI.dir/compiler_depend.internal
build/CMakeFiles/stm32G4_HELI.dir/compiler_depend.make
build/CMakeFiles/stm32G4_HELI.dir/compiler_depend.ts
build/CMakeFiles/stm32G4_HELI.dir/depend.internal
build/CMakeFiles/stm32G4_HELI.dir/depend.make
build/CMakeFiles/stm32G4_HELI.dir/DependInfo.cmake
build/CMakeFiles/stm32G4_HELI.dir/flags.make
build/CMakeFiles/stm32G4_HELI.dir/link.txt
build/CMakeFiles/stm32G4_HELI.dir/progress.make
build/CMakeFiles/stm32G4_HELI.dir/startup_stm32g431cbux.s.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/cordic.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/cordic.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/dma.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/dma.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/gpio.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/gpio.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/main.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/main.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/spi.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/spi.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/stm32g4xx_hal_msp.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/stm32g4xx_it.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/stm32g4xx_it.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/syscalls.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/syscalls.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/sysmem.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/sysmem.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/system_stm32g4xx.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/system_stm32g4xx.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/tim.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/tim.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/usb.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Core/Src/usb.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cordic.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pcd.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_spi.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usb.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/AS5047D.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/AS5047D.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/debug_scope.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/debug_scope.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/dshot.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/dshot.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/mathutils.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/mathutils.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/projectMain.cpp.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/projectMain.cpp.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dma.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dma.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_exti.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_exti.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_gpio.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_gpio.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_tim.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_tim.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_utils.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_utils.c.obj.d
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/circBuffer.c.obj
build/CMakeFiles/stm32G4_HELI.dir/Project/Src/circBuffer.c.obj.d
